body{
	background-color:rgba(10,10,59,0.1);
}
.label1{
	background-color: #2f4f4f;
	color: #ffffff;
	height: 40px;
	font-size: 20px;
	padding-top: 5px;
	padding-left: 10px;
	margin:0;
}
.label2{
	background: rgba(176,196,222,0.5);
	width: 100%;
	margin-bottom:20px;

}
.col-md-2{
	text-align: center;
	border-bottom: 	1px solid #2f4f4f;
	height:30px;
	padding:0;
}

.btn-link{
	margin:0;
	height:20px;
	width:100%;
	fontsize:15px;
	padding:0;
}

.content{
	background: #fff;
	border-bottom: 4px solid rgba(10,10,59,0.1);
	border-right: 2px solid rgba(10,10,59,0.1);
	border-radius: 10px;
	padding:10px;
	align:center;
}

.title{
	background:rgba(176,196,222,0.2);
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}

a{
	color: #2f4f4f;
}

#clock{
	text-align: center;
}
#date{
	text-align: center;
}

.clock{
	border-radius: 20px;
}

th{
	height: 60px;
}
td{
	height: 60px;
}

td:hover{
	background-color: rgba(10,10,59,0.1);
}

td:active{
	background-color: rgba(10,10,59,0.05);
}

.sun{
	background: rgba(165,42,42,0.1);
	color:rgb(165,42,42);
}

.sat{
	background: rgba(70,130,180,0.1);
	color:rgb(70,130,180);
}

#reminder button{
	margin: 10px;	
}

#calendar{
	position:relative;
	z-index:1;
}

#calendar div{
	position:absolute;
	left:20px;
	top:0px;
	height: 410px;
	max-width: 570px;
	background-color:rgba(0,0,0,0.8);
	z-index:2;
	color:white;
	font-size: 20px;
	border-radius: 10px;
}
div button{
	margin: 10px;
}

.ft{
	text-align:center;
}

.ft button:hover{
	background-color: rgba(10,10,59,0.1);
}

.ft button:activ{
	background-color: rgba(10,10,59,0.05);
}

